<?xml version="1.0"?>
<configuration>
    <appsettings>
        <add key="username" value="myusername1" />
        <add key="password" value="plaintextpassword1" />
        <add key="connectionString" value="Server=(localdb)\\msssqllocaldb;Database=notRealDb;Trusted_Connection=True" />
    </appsettings>
</configuration>