<?xml version="1.0"?>
<configuration>
    <appsettings>
        <add key="username" value="myusername" />
        <add key="password" value="plaintextpassword" />
        <add key="connectionString" value="Server=(localdb)\\msssqllocaldb;Database=notRealDb;Trusted_Connection=True" />
        <add key="secret" value="I sure hope this stays secret" />
    </appsettings>
</configuration>